body {
  background: #fff6f6;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #d5def5;
  padding-bottom: 20px;
}
.weather-app {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  max-width: 600px;
  border-radius: 20px;
  display: block;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form {
  font-size: 16px;
}
.search-input {
  border: none;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  padding: 15px;
  transition: 200ms;
}
input:focus {
  outline: none;
  box-shadow: 0px 1px 3px rgb(192, 185, 185);
}
.search-input:hover {
  box-shadow: 0px 1px 3px rgb(192, 185, 185);
}
.submit-button {
  border: none;
  border-radius: 10px;
  background-color: #a393eb;
  color: white;
  padding: 15px 30px;
  margin-left: 5px;
  cursor: pointer;
  transition: 200ms;
}
.submit-button:hover {
  background-color: #c3bef0;
}
main {
  padding-bottom: 20px;
}
.weather-data {
  display: flex;
}
footer {
  border-top: 1px solid #d5def5;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: #a393eb;
}
